@import "tailwindcss";

/* Dejamos que el navegador maneje los saltos de línea de forma natural */
.ql-editor p {
    white-space: pre-wrap; 
}

/* AUMENTAR TAMAÑO DEL EDITOR */
.ql-editor {
  min-height: 350px;
  font-size: 16px; 
}